<%= form_for(@download) do |f| %>
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <%= f.fields_for :resources do |builder| %>
    <% render "resource_fields", :f => builder %>
  <% end %>
  <%= link_to_add_fields "Add A Downloadable File", f, :resources %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>