<p>
  <strong>Download Name:</strong>
  <%= @download.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @download.description %>
</p>

<%= @download.resources %>
<% @download.resources do |r| %>
<%= r.name %>
<% end %>

<ul>
<% for resource in @download.resources %>
	<li><%= resource.name %></li>
	<li><%= resource.version %></li>
	<li><%= resource.filepath %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_download_path(@download) %> |
<%= link_to "Destroy", @survey, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', downloads_path %>