<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="_javascript/mosaic.1.0.1.js"></script>
<script src="_javascript/jquery.easing.1.3.js" type="text/javascript"></script>  
<script src="_javascript/animatedMenu.js" type="text/javascript"></script>
<!-- InstanceBeginEditable name="javascripts" -->
<!-- InstanceEndEditable -->
    <script type="text/javascript">  
      
      jQuery(function($){
        $('.bar2').mosaic({
          animation : 'slide'
        });
        });
        
    </script>
<!-- end Javascript -->

<div class="newsText">
  <h5><!-- InstanceBeginEditable name="Title" -->Products<!-- InstanceEndEditable --></h5>
  <!-- InstanceBeginEditable name="Banner" --><!-- InstanceEndEditable -->
  <table width="100%" border="0" id="prodContainer">
    <tr>
      <td style="padding-top: 15px;"><%= image_tag("bracketLeft.png", style: "height:140px")%></td>
      <td>
        <table width="100%" border="0" id="prodGroup">
          <tr style="text-align:center;">
            <td>
              <ul class="dropdown">
                <li><%= image_tag("beamdiag.png") %>
                  <ul class="sub_menu">
                    <li><a href="products/BPM16-38.html">BPM16-38 Beam Position Monitor</a></li>
                    <li><a href="products/IC128-25.html">IC128-25 Ionization Chamber</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="dropdown">
                <li><%= image_tag("comm&control.png") %>
                  <ul class="sub_menu">
                    <li><a href="products/A500.html">A500 Real-time loop controller</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="dropdown">
                <li><%= image_tag("genpurpose.png") %>
                  <ul class="sub_menu">
                    <li><a href="products/B10.html">B10 Digital Device Interface</a></li>
                    <li><a href="products/M10.html">M10 Universal Device Interface</a></li>
                    <li><a href="products/N2400.html">N2400 Pneumatic Actuator Controller</a></li>
                    <li><a href="products/S100.html">S100 Fiber-optic to RS-232 adaptor</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="dropdown">
                <li><%= image_tag("F3200small.png") %>
                  <ul class="sub_menu">
                    <li><a href="products/F100.html">F100 1-channel I-V amplifier</a></li>
                    <li><a href="products/F3200.html">F3200 32-channel I-V amplifier</a></li>
                    <li><a href="products/F3200E.html">F3200E Fast 32 channel I-V amplifier</a></li>
                    <li><a href="products/IC101.html">IC101 1-channel charge integrator</a></li>
                    <li><a href="products/I200.html">I200 2-channel charge integrator</a></li>
                    <li><a href="products/I400.html">I400 4-channel biased charge integrator </a></li>
                    <li><a href="products/I404.html">I404 4-channel charge integrator</a></li>
                    <li><a href="products/I3200.html">I3200 32-channel charge integrator</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="dropdown">
                <li><%= image_tag("D10small.png") %>
                  <ul class="sub_menu">
                    <li><a href="products/C400.html">C400 Quad pulse counting detector controller</a></li>
                    <li><a href="products/CP10.html">CP10 Fast Pre-amplifiers</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="dropdown">
                <li> <%= image_tag("H10small.png") %>
                  <ul class="sub_menu">
                    <li><a href="products/H10.html">H10 Integrated B / Bdot Magnetic Field Sensor</a></li>
                  </ul>
                </li>
              </ul>
            </td>
            <td>
              <ul class="dropdown">
                <li><%= image_tag("FiberOpticssmall.png") %>
                  <ul class="sub_menu">
                    <li><a href="products/X14.html">X14 Optical Fanout</a></li>
                    <li><a href="products/X44.html">X44 Optical Repeater</a></li>
                    <li><a href="products/PD8.html">PD8 Power Supply Unit</a></li>
                    <li><a href="products/Fiberoptics.html">Fiber Optical Cable Assemblies</a></li>
                    <li><a href="products/DIN.html">DIN rail mounting brackets</a></li>
                  </ul>
                </li>
              </ul>
            </td>
          </tr>
        </table>
      </td>
      <td style="padding-top: 15px;"><%= image_tag("bracketRight.png", style: "height:140px")%></td>
    </tr>
  </table>
  <!-- InstanceBeginEditable name="Product Description" -->
  <p>The wider range of Pyramid electronic devices is suited to applications in research, industrial control, semiconductor processing and medical therapy.  On-board signal conditioning, digitization, and calibration allow systems to be assembled with the minimum amount of additional equipment.  The use of fast, flexible and robust deterministic fiber-optic communications links allows the user to form an integrated system that can be distributed over a large facility.  Fiber-optics provide excellent noise-immunity over long cable runs and are able to cross high voltage gaps without problems.   Real-time controllers with up to ten loop ports allow the optimum balance of speed and capacity: up to 15 devices can be connected on each loop if needed.  Many devices include other interfaces such as RS-232, RS-485, USB and Ethernet.</p>
  <p>The latest G2 device family provides Ethernet communications, large on-board data buffers and sophisticated triggering options.  G2 devices are able to act as fiber optic loop controllers, so forming the heart of a larger system.</p>
  <p>Major device families:</p>
  <ul type="disc" class="indent-text">
    <li><b>A-series</b> - Fiber-optic loop controllers</li>
    <li><b>M-series</b> - Power supply control and general purpose analog and digital I/O</li>
    <li><b>I-series</b> - Charge integrators with one up to 128 channels</li>
    <li><b>F-series</b> - Current electrometers with one up to 32 channels</li>
    <li><b>C-series</b> - Pulse discrimination and counting </li>
    <li><b>H-series</b> - Magnetic field probes</li>
  </ul>
  <!-- InstanceEndEditable -->  
</div>

<%= link_to 'New Product', new_product_path %>

<% @products.each do |product| %>
  <%= product.name %>
  <br><%= product.picture %>
  <br><%= product.category %>
  <br><%= link_to 'Show', product %><%= link_to 'Edit', edit_product_path(product) %><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>