<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @product.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<ul>
<% for application in @download.applications %>
	<li><%=h application.description %></li>
<% end %>
</ul>
<ul>
<% for feature in @download.features %>
	<li><%=h feature.description %></li>
<% end %>
</ul>
<ul>
<% for resource in @download.resources %>
	<li><%=h resource.name %></li>
	<li><%=h resource.version %></li>
	<li><%=h resource.filepath %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
